$videoJsHeight: 60px;
$videoJsFont: 17px;

.video-js-wrapper {
    margin: 0!important;

    .video-js {
        background-color: transparent;
        width: 100%;
        height: auto;
        max-height: 53px;
        border: 1px solid var(--videojs-border);
        font-size: $videoJsFont;

        .vjs-control {
            width: $videoJsHeight;
        }

        .vjs-play-progress {
            background-color: #ccc;
        }

        .vjs-control-bar {
            display: flex;
            position: static;
            background-color: var(--videojs-bg);
        }
        .vjs-progress-control {
            margin-left: 0px;

            > * {
                position: relative;
                top: 1px;
            }
            
        }

        .vjs-duration-display {
            top: 2px;
            position: relative;
        }
        .vjs-current-time-display {
            top: 1px;
            position: relative;
        }

        .vjs-current-time  {
            display: block;
        }
        .vjs-duration {
            display: block;
            order: 1;
        }

        .vjs-menu-button-popup .vjs-menu {
            width: calc(100% - 2em + 2px);
            position: fixed;
            bottom: 100px;
            margin: 0;
            z-index: 9;
            left: calc(1em - 1px);
            .vjs-menu-content {
                display: flex;
                justify-content: center;
                position: relative;
                height: 60px;
                align-items: center;
                background-color: var(--videojs-bg);
                
                &.active {
                    transform: translateY(0);
                }
                li {
                    padding: 0 8px;
                    &.vjs-selected {
                        background: rgba(0,0,0,var(--videojs-selected-percentage));
                    }
                    
                }
            }
        }
        div.vjs-playback-rate {
            order: 2;
            border-left: 1px solid var(--videojs-border);
            /*position: absolute;
            right: 46px;
            top: -59px; 
            */
            .vjs-playback-rate-value {
                font-size: $videoJsFont;
                line-height: 55px;
            }
            button.vjs-playback-rate {
                &:focus {
                    outline: 2px solid var(--videojs-border);
                }
            }
        }
        * {
            color: var(--videojs-text);
        }

        button {
            color: var(--videojs-text);
        }
        
        .vjs-big-play-button {
            display: none;
        }
        .vjs-volume-panel, .vjs-fullscreen-control {
            display: none;
        }

        button.vjs-play-control {
            border-right: 1px solid var(--videojs-border);
        }

        .vjs-time-divider, .vjs-live-control, 
        .vjs-seek-to-live-control, 
        .vjs-time-tooltip,
        .vjs-remaining-time {
            display: none!important;
        }
    }
}

.vjs-icon-replay:before, .video-js .vjs-play-control.vjs-ended .vjs-icon-placeholder:before {
    content: "\f101";
}


