.video-js {
                        
    background-color: transparent;
    width: 100%;
    z-index: 80;
    margin-top: .62em;

    .vjs-menu-content {
        background-color: var(--bg-body);
        border: 1px solid var(--form-border);
    }
    .vjs-big-play-button {
        opacity: 1;
        display: block;
        border-radius: 100%;
        height: 88px;
        width: 88px;
        top: 7px;
        display: none;



        .vjs-icon-placeholder:before {
            top: 21px;
        }
    
    }

    >.vjs-control-bar {
        background-color: transparent;
        height: 38px;
        display: flex;
        align-items: flex-start;
        justify-content: center;

        .playlist-controls {
            .btn {
                background-color: var(--bg-body);
                color:  var(--text-color);
                height: 43px;
                line-height: 31px;
            }
        }
    }
    
    .vjs-playback-rate .vjs-menu {
        width: 100vw;
        left: 0;
        position: fixed;
    }

    .vjs-menu-button-popup .vjs-menu {
        bottom: -8px;
    }
    .vjs-menu {
        .vjs-menu-content {
            display: flex;
            justify-content: center;
        }
        li {
            &:hover, &:focus {
                background-color: transparent;
                outline: none;
            }
            padding: 8px;
            &.vjs-selected {
                background: var(--bg-headerBot);
                font-weight: bold;
            }
        }
    }
    .vjs-control {
        &.vjs-button {
            border: 1px solid;
            border-radius: 50%;
            font-size: 12px;
            margin-right: 5px;
            background: var(--bg-body);
            color: var(--text-color);
            height: 42px;
            width: 42px;
            border-color: var(--button-border);
            

            &.vjs-playback-rate  {
                border: none;
               

            }
        }
        
    }

    .vjs-playback-rate {
        border: none;
        width: 1px!important;
        &:focus-visible {
            outline: none;
        }
        .vjs-playback-rate-value {
            line-height: 2.4em;
            display: none;
        }
        .vjs-menu {
            display: block!important;
        }
    }
    .vjs-play-control {
        .vjs-icon-placeholder {
            &::before {
                top: 2px;
            }
        }
    } 
    .vjs-volume-panel {
        display: none;
    }
    .vjs-text-track-display {
        display: none;
    }
    .vjs-remaining-time {
        display: none;
    }

    .vjs-progress-control {
        position: fixed;
        top: 0px;
        z-index: 99;
        height: 6px;
        left: 0;
        width: calc(100vw);
        opacity: 0;
        transition: opacity 1s ease-in-out;

        .vjs-progress-holder {
            margin: 0;
            height: 6px;
        }
    }
    &[data-playing="true"] {
        .vjs-big-play-button {
            display: none;
        }
        .vjs-progress-control {
            opacity: 1;
        }
    }

    .vjs-menu-button-popup .vjs-menu .vjs-menu-content {
        max-height: 30em;
    }
    .vjs-fullscreen-control {
        display: none;
    }
}
