$videoJsHeight: 60px;
$videoJsFont: 17px;

.video-js-wrapper {
    margin: 0!important;

    .video-js {
        background-color: transparent;
        width: 100%;
        height: auto;
        max-height: 53px;
        border: 1px solid var(--videojs-border);
        font-size: $videoJsFont;

        .vjs-play-progress {
            background-color: #ccc;
        }

        .vjs-control-bar {
            display: flex;
            position: static;
            background-color: var(--videojs-bg);
        }
        .vjs-progress-control {
            margin-left: 0px;

            > * {
                position: relative;
                top: 1px;
            }
            
        }

        .vjs-duration-display {
            top: 2px;
            position: relative;
        }
        .vjs-current-time-display {
            top: 1px;
            position: relative;
        }

        .vjs-current-time  {
            display: block;
        }
        .vjs-duration {
            display: block;
            order: 1;
        }

        .vjs-menu-button-popup .vjs-menu {
            width: calc(100% - 2em + 2px);
            position: fixed;
            bottom: 100px;
            margin: 0;
            z-index: 9;
            left: calc(1em - 1px);
            .vjs-menu-content {
                display: flex;
                justify-content: center;
                position: relative;
                height: 60px;
                align-items: center;
                background-color: var(--videojs-bg);
                li {
                    padding: 0 8px;
                    &.vjs-selected {
                        background: rgba(0,0,0,var(--videojs-selected-percentage));
                    }
                }
            }
        }
        div.vjs-playback-rate {
            order: 2;
            border-left: 1px solid var(--videojs-border);
            .vjs-playback-rate-value {
                font-size: $videoJsFont;
                line-height: 55px;
            }
            button.vjs-playback-rate {
                &:focus {
                    outline: 2px solid var(--videojs-border);
                }
            }
        }
        * {
            color: var(--videojs-text);
        }

        button {
            color: var(--videojs-text);
        }
        
        .vjs-big-play-button {
            display: none;
        }
        .vjs-volume-panel, .vjs-fullscreen-control {
            display: none;
        }

        button.vjs-play-control {
            border-right: 1px solid var(--videojs-border);
        }

        .vjs-time-divider, .vjs-live-control, 
        .vjs-seek-to-live-control, 
        .vjs-time-tooltip,
        .vjs-remaining-time {
            display: none!important;
        }
    }
}

/* old way */
.video-jss {
                        
    background-color: transparent;
    width: 100%;
    z-index: 80;
    margin-top: -.5em;

    .vjs-menu-content {
        background-color: var(--bg-body);
        border: 1px solid var(--form-border);
    }
    .vjs-big-play-button {
        opacity: 1;
        display: block;
        border-radius: 100%;
        height: 88px;
        width: 88px;
        top: 7px;
        display: none;



        .vjs-icon-placeholder:before {
            top: 21px;
        }
    
    }

    >.vjs-control-bar {
        background-color: transparent;
        height: 38px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin-left: 20px;
        width: auto;

        .playlist-controls {
            .btn {
                background-color: var(--bg-body);
                color:  var(--text-color);
                height: 43px;
                line-height: 31px;
            }
        }
    }
    
    .vjs-playback-rate .vjs-menu {
        width: 100vw;
        left: 0;
        position: fixed;
    }

    .vjs-menu-button-popup .vjs-menu {
        bottom: -8px;
    }
    .vjs-menu {
        .vjs-menu-content {
            display: flex;
            justify-content: center;
            bottom: 5.5em;
        }
        li {
            &:hover, &:focus {
                background-color: transparent;
                outline: none;
            }
            padding: 8px;
            &.vjs-selected {
                background: var(--bg-headerBot);
                font-weight: bold;
            }
        }
    }
    .vjs-control {
        &.vjs-button {
            border: 1px solid;
            border-radius: 50%;
            font-size: 12px;
            margin-right: 5px;
            background: var(--bg-body);
            color: var(--text-color);
            height: 50px;
            width: 50px;
            border-color: var(--button-border);
            

            &.vjs-playback-rate  {
                border: none;
                width:45px;

            }
        }
        
    }

    .vjs-playback-rate {
        &:focus-visible {
           
        }
        .vjs-playback-rate-value {
            line-height: 3em;
            
        }
        
    }
    .vjs-play-control {
        .vjs-icon-placeholder {
            &::before {
                top: -.2em;
                font-size: 3em;
            }
        }
    } 
    .vjs-volume-panel {
        display: none;
    }
    .vjs-text-track-display {
        display: none;
    }
    .vjs-remaining-time {
        display: none;
    }

    .vjs-progress-control {
        position: fixed;
        top: 0px;
        z-index: 99;
        height: 6px;
        left: 0;
        width: calc(100vw);
        opacity: 0;
        transition: opacity 1s ease-in-out;

        .vjs-progress-holder {
            margin: 0;
            height: 6px;
        }
    }
    &[data-playing="true"] {
        .vjs-big-play-button {
            display: none;
        }
        .vjs-progress-control {
            opacity: 1;
        }
    }

    .vjs-menu-button-popup .vjs-menu .vjs-menu-content {
        max-height: 30em;
    }
    .vjs-fullscreen-control {
        display: none;
    }
}
