
.whatsnew-open * {
    pointer-events: none;
}
.whatsnew-open #whatsnew-wrapper * {
    pointer-events: all;

}
.whatsnew-open {

    #whatsnew-wrapper {
        position: fixed;
        top: 7em;
        width: calc(100% - 2em);
        left: 1em;
        z-index: 1004;
    }

    .whatsNewHighlighted {
        outline: 3px solid red;
        pointer-events: all;
    }
    .whatsNewClone {
        outline: 9999px solid rgba(0, 0, 0, 0.7);

    }
}

#loader.muted {
    opacity: .4;
}
#whatsnew-modal {
    font-size: 16px;
    margin: 1em auto;
    max-width: 800px;


    .whatsnew-close {
        
        display: inline-block;
        margin: auto;
    }
    #take-tour-wrapper {
        display: none;
        margin-top: .5em;
        &.active {
            display: block;
        }
    }
    #whatsnewintro {
        display: none;
        &.active {
            display: block;
        }
    }
    #whatsnew-steps {
        
        .whatsnew-step {
            display: none;
            text-align: center;

            &.active {
                display: block;
            }

            .whatsnew-title {
                font-size: 1.5em;
                margin-bottom: 1em;
            }

            .whatsnew-content {
                font-size: 1.2em;
                margin-bottom: 1em;
            }

        }
    }

    .take-tour {
        display: none;
        &.active {
            display: block;
        }
    }

    .slider-dots {
        margin: 1em 0;
        text-align: center;

        .slider-dot {
            display: inline-block;
            width: 10px;
            height: 10px;
            margin: 0 5px;
            border-radius: 50%;
            background-color: #ddd;
            cursor: pointer;

            &.active {
                background-color: #f00;
            }
        }

    }
}

#whatsnew-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

