$scrollbar-width: var(--scrollbar-width);

@font-face {
    font-family: 'Noto-sans';
    src: url('../font/notosans-regular.ttf') format('truetype'),
         url('../font/notosans-regular-webfont.woff') format('woff'),
         url('../font/notosans-regular-webfont.woff2') format('woff2');

}
@font-face {
    font-family: 'Noto-sans-bold';
    src: url('../font/notosans-bold.ttf') format('truetype'),
         url('../font/notosans-bold-webfont.woff') format('woff'),
         url('../font/notosans-bold-webfont.woff2') format('woff2');

}
@font-face {
    font-family: 'Noto-sans-semi-bold';
    src: url('../font/notosans-semibold.ttf') format('truetype'),
         url('../font/notosans-semibold-webfont.woff') format('woff'),
         url('../font/notosans-semibold-webfont.woff2') format('woff2');

}
  

:root {
    --loader-bottom-padding: 0;
    --padding: 8px;
    --big-padding: 16px;
    --charcoal: #3B3B3B;
    --yellowButton: #F9B718;
    --darkGold:  #AC7A00;
    --blue: #178CE0;

    --videojs-bg: #fff;
    --videojs-border: #ccc;
    --videojs-text: var(--charcoal);
    --videojs-selected-percentage: .1;

    --bg-footer-start: rgba(255,255,255,0.46);
    --bg-footer-stop: rgba(255,255,255,0.91); 
    --bg-header:var(--blue);
    --bg-headerBot: rgb(242, 242, 242);         
    --bg-body: #fff;
    --text-color: var(--charcoal);
    --fontSize: 14px;
    --button-border: #6c757d;
    --linkColor: var(--bg-header);
    --searchHeader: var(--yellowButton);
    --searchHeaderText: var(--charcoal);
    --searchHeaderButtonText: var(--darkGold);
    --form-border: #ced4da;
    --toggleBG: #fff;
    --toggleBorder: var(--form-border);
    --toggleCheckedBG: var(--blue);
    --scriptureBG: rgba(242,242,242,0.8);
    --footer-btn-active: rgb(222,222,222);

}
html{
    &.dim {

        --videojs-bg: #333;
        --videojs-border: #111;
        --videojs-text: #fff;
        --videojs-selected-percentage: .6;

        --blue: #33AAFF;
        --bg-footer-start: rgba(000,000,000,0.46);
        --bg-footer-stop: rgba(000,000,000,0.91);
        --bg-header: #333;
        --bg-body: #111;
        --text-color: #ccc;
        --button-border: #6c757d;
        --bg-headerBot: #454545;
        --linkColor: #9ec5ff;
        --searchHeader: var(--darkGold);
        --searchHeaderText: #fff;
        --searchHeaderButtonText: var(--yellowButton);
        --form-border: #333;
        --toggleBG: #eee;
        --toggleBorder: var(--form-border);
        --scriptureBG: rgba(0,0,0,0.6);
        --footer-btn-active: var(--bg-headerBot);

        .rtTooltip {
            

            .rtTooltipBody, .rtTooltipFooter {
                background-color: #555;
                color: #fff;
            }
            .rtTooltipHeader {
                background-color: #000;
                color: #fff;
            }
            .rtTooltipMoreLink {
                color: #eee;
            }
        }
        #freshdeskFrame {
               filter: invert(1) hue-rotate(183deg) brightness(.9);
        }
    
    }
    height: 100%;

}

body {
    display: inherit;
    overflow: auto;
    background-color: var(--bg-body);
    color: var(--text-color);
    height: 100%;
    font-family: 'Noto-sans', sans-serif;

    .rtTooltip {
        font-family: 'Noto-sans', sans-serif;
    }


    &.scripturalReferenceOpen {
        .page.showFontSizer {
            .scripturalReferenceContent {
                padding-bottom: 105px!important;
            }
        }
    }
    
    &.scrollbar {
        .mainContent {
            .page footer.hymnFooter {
                width: calc(100vw - var(--scrollbar-width));
            }
            .page#hymns .musicPlayer {
                width: calc(100vw - var(--scrollbar-width));
                .video-js .vjs-progress-control {
                    width: calc(100vw - var(--scrollbar-width));
                }
            }
        }
        
    }
    
    
    #search, #number {
        .navbar {
            background-color: var(--searchHeader);
            color: var(--searchHeaderText);

            .navbar-brand {
                color: var(--searchHeaderText);
                
            }
            .btn {
                color: var(--searchHeaderButtonText);
                margin-right: var(--padding);
                
            }
        }
    }

    
    .navbar {
        .btn {
            &:focus {
                box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.2);
            
            }
        }
    }
    .backToHymns {
        color: #fff;

        &.inactive {
            pointer-events: none;
        }
    }
    .form-switch {
        display: flex;
        justify-content: start;
        padding-left: 40px;
        align-items: center; 
        margin-left: 10px;
        > * {
            position: relative;
            top: 3px;
            &.form-check-input {
                top: 2px;
            }
        }
        .form-check-label {
            margin-left: -40px;
        }
        
        .form-check-input {
            position: relative;
            left: 48px;
            background-color: var(--toggleBG);
            border-color: var(--toggleBorder);

            &:checked {
                background-color: var(--toggleCheckedBG);
                border-color: var(--toggleCheckedBG);
            }
        }
        
    }
    .form-control {
        background-color: var(--bg-body);
        color: var(--text-color);
        border-color: var(--form-border);

        &:focus {
            background-color: var(--bg-body);
            color: var(--text-color);
        }
    }
    .form-select {
        background-color: var(--bg-body);
        color: var(--text-color);
        border-color: var(--form-border);
    }

    .table {
        color: var(--text-color);

        th {
            border-color: var(--form-border)!important;
            border-bottom-width: 3px;
            background-color: var(--body-bg);
            color: var(--text-color);
        }
        .tocBody {
            td {
                background-color: var(--body-bg);
                color: var(--text-color);
                border-color: var(--form-border);
                a {
                    color: var(--linkColor);
                    text-decoration: none;
                    font-family: 'Noto-sans-semi-bold', sans-serif;
                }
            }
        }
    }

    mark {
        background-color: var(--yellowButton);
        padding: 1px 2px;
        border-radius: 5px;
        text-decoration: none;
        position: relative;
        display: inline-block;

    }
    .hidden {
        display: none!important;
    }
    .invisible {
        visibility: hidden!important;
    }

    .main {
        overflow-x: hidden;
        height: 100%;

    }

    .btn-secondary {
        background-color: var(--yellowButton);
        color: var(--charcoal)!important;
        &:hover {
            background-color: var(--yellowButton);
            color: var(--charcoal);
        }
        &:active {
            --bs-btn-active-bg: var(--yellowButton);
            --bs-btn-active-color: #000;
            background-color: var(--yellowButton);
            color: #000;
            outline: 2px solid #000;
        }
    }

    &.hasMusicOpen {
        .mainContent {
            .page {
            
                #loader {
                    --loader-bottom-padding: 180px;
                }
                #scripturalReferenceModal {
                    
                    &.active {
                        bottom: 122px;
                    }

                   
                }
                #playlistContent .playlistBody {
                    height: calc(100vh - 428px);
                }
                

                footer {
                    &.hymnFooter {
                        height: 192px;
                    }
                }
                    
                
            }
        }
    } 
    &.hasFontsizerOpen {
         .mainContent {
            .page {
            
                #loader {
                    --loader-bottom-padding: 160px;
                }
                #scripturalReferenceModal {
                    
                    &.active {
                        bottom: 53px;
                    }

                   
                }
                #playlistContent .playlistBody {
                    height: calc(100vh - 362px);
                }
                footer {
                
                    &.hymnFooter {
                        height: 125px;
                    }
                }
                &#hymns {
                     #fontSizer {
                        transform: translateY(0%);
                        height: auto;
                     }
                }
            }
        }
    }
    &.hasMusicOpen.hasFontsizerOpen {
        .mainContent {
            .page {
                #loader {
                    --loader-bottom-padding: 180px;
                }
                #scripturalReferenceModal {
                    
                    &.active {
                        bottom: 175px;
                    }

                   
                }
                #playlistContent .playlistBody {
                    height: calc(100vh - 485px);
                }
                footer {
                
                    &.hymnFooter {
                        height: 251px;
                    }
                }
                &#hymns {
                     #fontSizer {
                        transform: translateY(0%);
                        height: 60px;
                     }
                }
            }
        }
    }
    

    #scriptureContent {
        .tocBody {
            tr {
                td:first-child {
                    width: 24%;
                
                }
            }
        }
    }
    .mainContent {
        display: flex;
        flex-wrap: nowrap;
        transform: translateX(0vw);

        transition: all ease 0.3s;

        height: 100%;

        &.showOtherPage {
            transform: translateX(-100vw);
        }

        &[data-page-show="search"]{
            #search {
                z-index: 89;
            }

        }
        &[data-page-show="copyright"]{
            #copyright {
                z-index: 89;
            }
        }
        &[data-page-show="number"]{
            

            .page#number {
                z-index: 89;
            }
            .page#search {
                visibility: hidden;
            }
        }
        
        .contentMain {
            line-height: 1.3em;
            &:not(.searchPage) {
                font-size: var(--fontSize);
            }

            &.searchPage {
                a {
                    color: var(--linkColor);
                
                }
            }
            
            h1 {
                text-align: center;
            }
            ol {
                margin: 1em;
                
                li {
                    margin-bottom: 1em;
                }
            }
        }
        .page {
            flex: 1 100%;
            position: relative;
            height: 100%;
            overflow-x: hidden;
            min-width: 100vw;
            width: 100vw;
            max-width: 100vw;
            z-index: 1; 

            position: absolute;
            left: 100vw;
            top: 0;
            opacity: 0;

            header {
                .changePageButton {
                    &:hover {
                        background: transparent;
                    }
                }
            }

            .showPlaylistSong {
                color: var(--text-color)
            }
            .hymnTitle.active a.showPlaylistSong {
                color: var(--blue);

            }

            #freshdeskFrame {
                height: calc(100vh - 95px);
            }

            #topicSelect {
                option {
                    text-transform: uppercase;
                }
            }

           

            &#hymns {
                position: static;
            }
            &#reportbug {
                header {
                    height: auto;
                }
            }
            &#holydays {
                .headerFormControl a {
                    color: var(--linkColor);
                }
                .table {
                    th, td {
                        background: transparent;
                        color: var(--text-color);
                    }
                    th {
                        background-color: var(--bg-headerBot);
                        border-left-color: var(--bs-border-color)!important;
                        border-right-color: var(--bs-border-color)!important;
                    }
                }
            }
            &#about {
                header {
                    height: auto;
                }
            }
            &#ucg {
                header {
                    height: auto;
                }
            }

            .fa-stack {
                    position: relative;
                    width: auto;
                    padding-right: 15px;


                    .sub-fa {
                        position: absolute;
                        right: 4px;
                        background: var(--yellowButton);
                        border-radius: 100%;
                        font-size: 11px;
                        padding: 3px;
                        top: 4px;
                    }
                }



            #langDropdownWrapper {
                position: relative;

                #langDropdown {
                    position: absolute;
                    margin: 0;
                    padding: 0;
                    right: 0;
                    top: 10px;
                    text-align: left;
                    background-color: var(--bg-header);
                    list-style: none;
                    display: none;
                    &.shown {
                        display: inherit;
                    }
                    box-shadow: 0 7px 11px -4px #333;
                    li {
                        list-style: none;
                        padding: 1em;
                        border-bottom: 1px solid #fff3;

                        a {
                            text-transform: capitalize;
                        }

                        &.active {


                            a {
                                font-family: Noto-sans-bold, sans-serif;
                                color: var(--yellowButton);
                            }
                        }

                        a {
                            white-space: nowrap;
                        }
                    }

                }
            }
            #scripturalReferenceModal {
                display: none;

                .scriptureReferences {
                    position: relative;

                    .scripturalReferenceButtonClose {
                        position: absolute;
                        right: 10px;
                        top: 5px;
                        color: var(--blue);
                        z-index: 8;
                    }
                }

                .scripturalReferenceContent {
                    backdrop-filter: blur(7px);
                    padding: var(--big-padding);
                    padding-bottom: 60px;
                    width: 100vw;
                    background-color: var(--scriptureBG);
                    .text {
                        font-weight: bold;
                        
                    }

                    a {
                        color: var(--blue);
                    }
                    
                }
                &.active {
                    display: block;
                    position: absolute;
                    bottom: 0px;
                    width: 100%;
                    left: 0;
                    
                }
            }
            .music-control-toggler {
                &.disabled {
                    display: none;
                }
            }

            #playAll {
                &:after {
                    content:"";
                    display: block;
                    height: 10px;
                    width: 30px;
                    border-radius: 5px;
                }
            }
            .playlistControlWrapper {
                border-right: 1px solid var(--form-border);
                border-radius: 0;
                position: relative;
                top: 2px;

                .btn {
                    border: 0;
                }

                
            }

            #playlistContent {
            
                transition: all ease 0.3s;
                position: fixed;
                top: 109px;
                width: calc(100% - var(--scrollbar-width));
                height: calc(100vh - 111px);
                padding:24px;
                background: var(--bg-body);
                z-index: 34;
                left: -110vw;
                
                &.active {
                    
                    left: 0;
                    
                }
                .playlistControls {
                    font-size: 16px;
                    line-height: 24px;
                    height: 40px;
                }

                .playlistHeader {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 1em;
                     font-size: 16px;
                    h2 {
                        margin: 0;
                        font-size: 20px;
                        font-weight: bold;
                    }
                    .playlistClose {
                        cursor: pointer;
                        
                        font-size: 16px;
                        &:hover {
                            color: #fff;
                        }
                    }
                }  
                .playlistBody {
                    height: calc(100vh - 300px);
                    overflow-y: auto;

                    ul {
                        list-style-type: none;
                        padding: 0;
                        margin: 0;
                        li {
                           margin: 0;
                           padding-left: 0; 
                           border-bottom: 1px solid var(--form-border);
                           font-size: 16px;
                           line-height: 24px;

                            &.sortable-item {
                                cursor: grab;
                                transition: transform 0.2s ease-in-out;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;

                                .playlistLeft {
                                    display: flex;
                                    align-items: center;
                                    gap: 8px;
                                    flex: 1;
                                    
                                }
                                .playlistItemHandle {
                                    display: inline-block;
                                    width: 20px;

                                }
                                .hymnTitle {
                                    a.active {
                                        color: var(--blue);
                                    }
                                }
                            }
                            &.sortable-item.dragging {
                                opacity: 0.5;
                                transform: scale(0.98);
                            }
                            &.sortable-item.drag-over {
                                border: 2px dashed #007bff;
                                background-color: #eaf5ff;
                            }
                        }
                        .sortable-ghost {
                            opacity: .6;
                        }
                    }
                } 
            }
            #loader {
                padding: 1em;
                padding-bottom: var(--loader-bottom-padding);

                ol {margin: 0;}

                .copyrightText {
                    margin: 2em;
                    font-size: 16px !important;
                    opacity: .8;
                    text-align: center;
                    border-top: 1px solid var(--bg-headerBot);
                    padding-top: 1em;
                    margin-top: 4em;
                }

                
            }
            

            #pdfloader {
                position: relative;
                .pdfToolbar {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width:100%;
                    font-size: 16px;
                    justify-content: space-between; 

                }
            }

            .topicName {
                background-color: var(--yellowButton);
                padding: var(--padding);
            }

            &#number {
                .contentMain {
                    overflow: hidden;
                    background: var(--body-bg);
                    .contentInner {
                        
                        background: var(--body-bg);
                    }
                   
                    
                }
                #searchByNumberBtn {
                    border-width: 0;
                    
                }
            }
           

            &#search {

                #toggleEditPlaylistSearch {
                    .activeState {
                        display: none;
                    }
                    &.active {
                        .initialState {
                            display: none;
                        }
                        .activeState {
                            display: inline-block;
                        }
                    }
                }
               
                .contentMain {
                    

                    .contentInner {
                        margin-top: 0;
                    }
                }
                .right-action {
                    #addToPlaylist {
                        .inactiveState {
                            display: inline-block;
                        }
                        .activeState {
                            display: none;
                        }
                        &.active {
                            background-color: var(--yellowButton );
                            .inactiveState {
                                display: none;
                            }
                            .activeState {
                                display: inline-block;
                            }
                        }
                    }
                }
                .actionCol {
                    display: none;
                    position: relative;
                    min-width: 24px;

                    input {
                        height: 18px;
                        width: 18px;
                        position: absolute;
                        top: 10px;
                        left: 10px;

                    }

                }
                .contentMain.editPlaylist {
                    .actionCol {
                        display: table-cell;

                    }
                }

            }
            &#hymns {

                .hymnalSelectionWrapper {
                    padding: var(--padding);
                }
                .contentMain {
                   

                    .contentInner {
                        margin-top: 0em;
                        padding-bottom: 75px;
                        h1 {
                            display: none;
                        }
                    }

                    #toggleType {
                        font-size: 16px;
                        line-height: 26px;
                        background: rgba(000,000,000,0.03);
                    }
                    #pdfloader {
                        height: calc(100vh - 150px);
                    }
                }
            
                #vocalIcon {
                      
                    span {
                        position: relative;
                        &.fa-microphone {
                            position: absolute;
                        }
                    }
                }

                a.fontSizer {
                    position: relative;
                    .smallerA {
                        font-size: 13px;
                        position: relative;
                        left: -1px;
                    }
                    .biggerA {
                        position: relative;
                        right: 6px;
                    }
                }
                #fontSizer {
                    position: fixed;
                    bottom:0px;
                    width: calc(100vw - var(--scrollbar-width));
                    left: 0;
                    padding: 0px 13px;
                    background-color: var(--bg-body);
                    transition: all ease 0.3s;
                    z-index: 793;
                    transform: translateY(100%);
                    transition: all ease .3s;
                    height: 0;
                    overflow: hidden;

                    .input-grouping {
                        margin: 10px 0;
                    }

                    .fontSizerClose {
                        margin-left: 5px;
                    }
                    

                }
                &.showFontSizer {
                    .hymnFooter {
                        bottom:55px;
                    }
                    #fontSizer {
                        transform: translateY(0%);
                        height: auto;
                    }
                    #loader {
                        --loader-bottom-padding: 60px;
                    }
                }

                audio#audio_player {
                    position: absolute;
                    top: 999em;
                }  

                .musicPlayer {
                    width: 100%;
                    width: 100%;
                    left: 0px;
                    position: static;
                    height: 125px;
                    overflow: hidden;
                    bottom: 0px;
                    margin-top: 0px;
                    z-index: 989;
                    padding: 0 var(--padding);
                    transform: translateY(160px);
                    box-shadow: -1px -3px 21px -15px var(--text-color);
                    //backdrop-filter: blur(7px);
                    &.active {
                        display: block;
                        background-color: var(--bg-body);
                        transform: translateY(0px);
                        
                    }

                    

                    .musicPlayerWrapper {
                        align-items: flex-start;
                    }
                    .musicType  {
                        display: none;
                        &.active {
                            border: none;
                        }
                    }

                    .iconPiano {
                        img {
                            width: 22px;
                            height: auto;
                        }
                    }

                    // sass include file

                    @import "videojs"; 

                     
    
                }
                
                
            }
            &#copyright {
                
                background-color:var(--bg-body);
               
            }
            &.active {
                display: block; 
                opacity: 1;
                z-index: 91;
            }

            header {  
                position: sticky;
                top: 0;
                left: 0;
                width: 100%;
                height: 110px;
                z-index: 99; 

                .navbar  {
                    background: var(--bg-header);
                    color: #fff;

                    >* {
                        color: #fff;
                    }

                    .navbar-inner {
                        flex-wrap: nowrap;
                        padding-left: 4px;
                    }

                    .headingBar {
                        justify-content: space-between;
                    }


                    .navbar-collapse {
                        position: absolute;
                        top: 0px;
                        z-index: 54;
                        background: var(--charcoal);
                        width: calc(100% - 59px);
                        left: 0;
                        padding: 1em;
                        height: 100vh;
                        transform: translateX(-110%);
                        transition: all ease 0.3s;
                        display: block;
                        &.shown {
                            transform: translateX(0%);

                        }
                        

                        .navbar-nav {
                            margin: 0;

                             li {
                                border-top: 1px solid rgba(255, 255, 255, 0.2);
                                &:first-child {
                                    border-top: none;
                                }
                                .nav-link {
                                    span.text {
                                        margin-left: 4px;
                                    }
                                }
                             }
                        }
                    }
                    .languageAndMenu #currentLanguage {
                        position: relative;
                        top: 2px;
                    }

                    .navbar-toggler {
                        border: none;
                        width: 42px;
                        height: 40px;
                        position: relative;
                        transform: scale(.8);

                        .fa-times {
                            display: none;
                            color: #fff;
                        }
                        .bars {
                            display: block;
                            height: 2px;
                            width: 32px;
                            background-color: #fff;
                            position: absolute;
                            top: 18px;
                            right: 5px;
                            left: 5px;
                            transition: background-color 0s 0.3s;
                            &:before {
                                content: "";
                                background-color: #fff;
                                
                                height: 2px;
                                top: -10px;
                                width: 32px;
                                transition-property: top, transform;
                                transition-delay: .3s, 0s;
                                transition-duration: 0.3s, 0.3s;
                                
                                position: absolute;
                                left: 0px;
                                right: 0px;
                            }
                            &:after {
                                content: "";
                                background-color: #fff;
                                bottom: -10px;
                                width: 32px;
                                
                                height: 2px;
                                transition-property: bottom, transform;
                                transition-delay: .3s, 0s;
                                transition-duration: 0.3s, 0.3s;
                                
                                position: absolute;
                                left: 0px;
                                right: 0px;
                            }
                        }

                        &:focus {
                           box-shadow: none;
                           
                        }
                        &.collapsed {
                            outline: 999em solid rgba(0,0,0,0.5);
                            z-index: 52;
                            .bars {
                                background-color: transparent;
                                &:before {
                                    top: 0px;
                                    transform: rotate(45deg);
                                    transition-delay:  0s,0.3s;
                                }
                                &:after {
                                    bottom: 0px;
                                    transform: rotate(-45deg);
                                    transition-delay:  0s,0.3s;
                                }
                            }
                            
                        }
                    }
                    .navbar-toggler-override {
                        color: #fff;
                        display: block;
                    }

                    .navbar-nav {
                        li {
                            a {
                                color: #fff;
                            }
                            &.copyrightLi {
                                border-top: 1px solid #ffffff24;
                            }
                        }
                    }

                    .btn {
                        border: 0;
                        color: var(--yellowButton);
                        &#searchButton{
                            background-color: var(--yellowButton);
                            color: #3B3B3B;

                            i {
                                position: relative;
                                top: 1px;
                            }
                        }

                       
                        
                    }
                }  

                .navbar-brand {

                    color: #fff;
                    margin: 0;
                    
                }
                .languageSelector {
                    margin-right: 9px;
                }


                #languageSelector {
                    margin-top: 1em;
                    position: relative;
                    &::before {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 1px;
                        left: 0;
                        top: 0;
                        
                    }
                }

                #chooseLanguage {
                    padding-left: 0;
                    padding-right: 0;
                    display: flex;
                    align-items: center;
                    align-content: center;
                    height: 36px;


                    &:focus {
                        box-shadow: none;
                        
                    }
                    #currentLanguageCode {
                        text-transform: capitalize;
                        @media all and  (min-width: 360px){
                            margin-left: 2px;
                        }
                    }
                    .languageIcon {
                        display: block;
                        width: 44px;

                        svg {
                            fill: #fff;
                            height: 27px;
                        }
                        .languageIconImg {
                            height: 27px;
                            width: auto;
                        }
                        @media all and  (max-width: 360px){
                           display: none;
                        }
                        i {
                            transform: scale(1.5);
                        }
                    }
                }

                .headerFormControl {
                    background-color: var(--bg-headerBot);
                }
                #navigationActions {
                    list-style: none;
                    display: flex;
                    flex-direction: row;
                    gap: 4px;
                    
                }
            }


             .floatingButton {
                    position: absolute;
                    bottom: 65px;
                    left: 8px;
                    .btn {
                        border: none;
                    }
                }


            .contentInner {
                margin-top: 0px;
            }
            

            footer {
                overflow: hidden;
                &.hymnFooter {
                    position: fixed;
                    padding: 0;
                    bottom: 0;
                    transition: all ease .3s;
                    left: 0;
                    width: 100%;
                    z-index: 78;
                    line-height: 60px;
                    height: 60px;
                    //background: linear-gradient(0deg, var(--bg-footer-stop), transparent);
                    color: var(--text-color);

                    .row>* {
                        padding-left: var(--padding);
                        padding-right: var(--padding);
                    }

                    #addToPlaylist {
                        .fa-minus {
                            display: none;
                        }
                        &.inPlaylist {
                            .fa-plus {
                                display: none;
                            }
                            .fa-minus {
                                display: inline-block;
                            }
                        }
                    }
                   

                    .mediaPlayerRow {
                        height: 62px;
                    }

                    .initialFooter {
                        background: linear-gradient(0deg, var(--bg-footer-stop), transparent);
                        color: var(--text-color);
                        height: 67px;
                    }


                    .row {
                        margin: 0;
                        flex-wrap: nowrap;

                        .col {
                            white-space: nowrap;
                        }
                    }
                    a {
                        color: var(--text-color);
                    }
                    .musicPlayerWrapper  {
                        a {
                            color: var(--text-color);
                            width: 42px;
                            height: 42px;
                            line-height: 28px;
                        }
                    }
                    .mediaControls {
                        justify-content: space-between;
                    } 
                    
                    .music-control-btn {
                        padding: var(--padding);
                        &.btn-outline-tertiary {
                            border: none!important;
                            &:focus {
                                background: transparent;
                                
                            }
                        }
                        &.active {
                            background-color: transparent;
                            border: 1px solid;
                            color: var(--blue);

                            &.btn-outline-tertiary {
                                background: transparent;
                                color: var(--blue);
                                border: none;
                            }
                           
                        }
                    }

                    .col.actions {
                        flex: 1 99%;
                    }
                    .btn {
                        background-color: var(--bg-body);

                        &.active {
                            
                            color: var(--blue);
                        }
                    }
                    #pianoIcon {
                        &.solo {
                            border-top-left-radius: 3px;
                            border-bottom-left-radius: 3px;
                        }
                    }


                    
                }
            }

        }
    }
}

body.scrollbar {
    .mainContent .page #scripturalReferenceModal .scripturalReferenceContent {
        width: calc(100vw - var(--scrollbar-width));
    }
    .mainContent .page #scripturalReferenceModal .scriptureReferences .scripturalReferenceButtonClose {
        right: calc(10px + var(--scrollbar-width));
    }
}

@import "whatsnew";
