<?xml version='1.0' encoding='utf-8'?>
<widget id="com.UCG.hymnal" version="6.3.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Hymnal</name>
    <description>Hymnal App for the United Church of God</description>
    <author email="corbin_rose@ucg.org" href="https://ucg.org">
        Corbin Rose
    </author>
    <content src="index.html" />
    <platform name="android">
        <!-- Default -->
        <preference 
        name="AndroidWindowSplashScreenAnimatedIcon" 
        value="res/IconSplashScreenCrop.png" />
        <preference name="AndroidWindowSplashScreenBackground" value="#178CE0" />
    </platform>
    <platform name="ios">
        
         <splash src="res/IconSplashScreenCrop.png" />
         <!-- splash bg color #1973B6-->
    </platform>
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
