@font-face {
  font-family: "Noto-sans";
  src: url("../font/notosans-regular.ttf") format("truetype"), url("../font/notosans-regular-webfont.woff") format("woff"), url("../font/notosans-regular-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "Noto-sans-bold";
  src: url("../font/notosans-bold.ttf") format("truetype"), url("../font/notosans-bold-webfont.woff") format("woff"), url("../font/notosans-bold-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "Noto-sans-semi-bold";
  src: url("../font/notosans-semibold.ttf") format("truetype"), url("../font/notosans-semibold-webfont.woff") format("woff"), url("../font/notosans-semibold-webfont.woff2") format("woff2");
}
:root {
  --charcoal: #3B3B3B;
  --yellowButton: #F9B718;
  --darkGold: #AC7A00;
  --blue: #178CE0;
  --videojs-bg: #fff;
  --videojs-border: #ccc;
  --videojs-text: var(--charcoal);
  --videojs-selected-percentage: .1;
  --bg-footer-start: rgba(255,255,255,0.46);
  --bg-footer-stop: rgba(255,255,255,0.91);
  --bg-header:var(--blue);
  --bg-headerBot: rgb(242, 242, 242);
  --bg-body: #fff;
  --text-color: var(--charcoal);
  --fontSize: 14px;
  --button-border: #6c757d;
  --linkColor: var(--bg-header);
  --searchHeader: var(--yellowButton);
  --searchHeaderText: var(--charcoal);
  --searchHeaderButtonText: var(--darkGold);
  --form-border: #ced4da;
  --toggleBG: #fff;
  --toggleBorder: var(--form-border);
  --toggleCheckedBG: var(--blue);
  --scriptureBG: rgba(242,242,242,0.8);
  --footer-btn-active: rgb(222,222,222);
}

html {
  height: 100%;
}
html.dim {
  --videojs-bg: #333;
  --videojs-border: #111;
  --videojs-text: #fff;
  --videojs-selected-percentage: .6;
  --bg-footer-start: rgba(000,000,000,0.46);
  --bg-footer-stop: rgba(000,000,000,0.91);
  --bg-header: #333;
  --bg-body: #111;
  --text-color: #ccc;
  --button-border: #6c757d;
  --bg-headerBot: #454545;
  --linkColor: #9ec5ff;
  --searchHeader: var(--darkGold);
  --searchHeaderText: #fff;
  --searchHeaderButtonText: var(--yellowButton);
  --form-border: #333;
  --toggleBG: #eee;
  --toggleBorder: var(--form-border);
  --scriptureBG: rgba(0,0,0,0.6);
  --footer-btn-active: var(--bg-headerBot);
}

body {
  display: inherit;
  overflow: auto;
  background-color: var(--bg-body);
  color: var(--text-color);
  height: 100%;
  font-family: "Noto-sans", sans-serif;
}
body.scrollbar .mainContent .page footer.hymnFooter {
  width: calc(100vw - var(--scrollbar-width));
}
body.scrollbar .mainContent .page#hymns .musicPlayer {
  width: calc(100vw - var(--scrollbar-width));
}
body.scrollbar .mainContent .page#hymns .musicPlayer .video-js .vjs-progress-control {
  width: calc(100vw - var(--scrollbar-width));
}
body #search .navbar, body #number .navbar {
  background-color: var(--searchHeader);
  color: var(--searchHeaderText);
}
body #search .navbar .navbar-brand, body #number .navbar .navbar-brand {
  color: var(--searchHeaderText);
}
body #search .navbar .btn, body #number .navbar .btn {
  color: var(--searchHeaderButtonText);
  margin-right: 0.5em;
}
body .navbar .btn:focus {
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.2);
}
body .backToHymns {
  color: #fff;
}
body .backToHymns.inactive {
  pointer-events: none;
}
body .form-switch {
  display: flex;
  justify-content: start;
  padding-left: 40px;
  align-items: center;
  margin-left: 10px;
}
body .form-switch > * {
  position: relative;
  top: 3px;
}
body .form-switch > *.form-check-input {
  top: 2px;
}
body .form-switch .form-check-label {
  margin-left: -40px;
}
body .form-switch .form-check-input {
  position: relative;
  left: 3em;
  background-color: var(--toggleBG);
  border-color: var(--toggleBorder);
}
body .form-switch .form-check-input:checked {
  background-color: var(--toggleCheckedBG);
  border-color: var(--toggleCheckedBG);
}
body .form-control {
  background-color: var(--bg-body);
  color: var(--text-color);
  border-color: var(--form-border);
}
body .form-control:focus {
  background-color: var(--bg-body);
  color: var(--text-color);
}
body .form-select {
  background-color: var(--bg-body);
  color: var(--text-color);
  border-color: var(--form-border);
}
body .table {
  color: var(--text-color);
}
body .table th {
  border-color: var(--form-border) !important;
  border-bottom-width: 3px;
  background-color: var(--body-bg);
  color: var(--text-color);
}
body .table .tocBody td {
  background-color: var(--body-bg);
  color: var(--text-color);
  border-color: var(--form-border);
}
body .table .tocBody td a {
  color: var(--linkColor);
  text-decoration: none;
  font-family: "Noto-sans-semi-bold", sans-serif;
}
body mark {
  background-color: var(--yellowButton);
  padding: 1px 2px;
  border-radius: 5px;
  text-decoration: none;
  position: relative;
  display: inline-block;
}
body .hidden {
  display: none !important;
}
body .invisible {
  visibility: hidden !important;
}
body .main {
  overflow-x: hidden;
  height: 100%;
}
body .btn-secondary {
  background-color: var(--yellowButton);
  color: var(--charcoal);
}
body .btn-secondary:hover {
  background-color: var(--yellowButton);
  color: var(--charcoal);
}
body .btn-secondary:active {
  --bs-btn-active-bg: var(--yellowButton);
  --bs-btn-active-color: #000;
  background-color: var(--yellowButton);
  color: #000;
  outline: 2px solid #000;
}
body.hasMusicOpen .mainContent .page #loader {
  padding-bottom: 6em;
}
body.hasMusicOpen .mainContent .page #scripturalReferenceModal.active {
  bottom: 122px;
}
body #scriptureContent .tocBody tr td:first-child {
  width: 24%;
}
body .mainContent {
  display: flex;
  flex-wrap: nowrap;
  transform: translateX(0vw);
  transition: all ease 0.3s;
  height: 100%;
}
body .mainContent.showOtherPage {
  transform: translateX(-100vw);
}
body .mainContent[data-page-show=search] #search {
  z-index: 89;
}
body .mainContent[data-page-show=copyright] #copyright {
  z-index: 89;
}
body .mainContent[data-page-show=number] .page#number {
  z-index: 89;
}
body .mainContent[data-page-show=number] .page#search {
  visibility: hidden;
}
body .mainContent .contentMain {
  line-height: 1.3em;
}
body .mainContent .contentMain:not(.searchPage) {
  font-size: var(--fontSize);
}
body .mainContent .contentMain.searchPage a {
  color: var(--linkColor);
}
body .mainContent .contentMain h1 {
  text-align: center;
}
body .mainContent .contentMain ol {
  margin: 1em;
}
body .mainContent .contentMain ol li {
  margin-bottom: 1em;
}
body .mainContent .page {
  flex: 1 100%;
  position: relative;
  height: 100%;
  overflow-x: hidden;
  min-width: 100vw;
  width: 100vw;
  max-width: 100vw;
  z-index: 1;
  position: absolute;
  left: 100vw;
  top: 0;
  opacity: 0;
}
body .mainContent .page#hymns {
  position: static;
}
body .mainContent .page#about header {
  height: auto;
}
body .mainContent .page#ucg header {
  height: auto;
}
body .mainContent .page #langDropdownWrapper {
  position: relative;
}
body .mainContent .page #langDropdownWrapper #langDropdown {
  position: absolute;
  margin: 0;
  padding: 0;
  right: 0;
  top: 10px;
  text-align: left;
  background-color: var(--bg-header);
  list-style: none;
  display: none;
  box-shadow: 0 7px 11px -4px #333;
}
body .mainContent .page #langDropdownWrapper #langDropdown.shown {
  display: inherit;
}
body .mainContent .page #langDropdownWrapper #langDropdown li {
  list-style: none;
  padding: 1em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
body .mainContent .page #langDropdownWrapper #langDropdown li a {
  text-transform: capitalize;
}
body .mainContent .page #langDropdownWrapper #langDropdown li.active a {
  font-family: Noto-sans-bold, sans-serif;
  color: var(--yellowButton);
}
body .mainContent .page #langDropdownWrapper #langDropdown li a {
  white-space: nowrap;
}
body .mainContent .page #scripturalReferenceModal {
  display: none;
}
body .mainContent .page #scripturalReferenceModal .scripturalReferenceContent {
  backdrop-filter: blur(7px);
  padding: 1em;
  padding-bottom: 60px;
  width: calc(100vw - var(--scrollbar-width));
  background-color: var(--scriptureBG);
}
body .mainContent .page #scripturalReferenceModal.active {
  display: block;
  position: absolute;
  bottom: 0px;
  width: 100%;
  left: 0;
}
body .mainContent .page #loader {
  padding: 1em;
  padding-bottom: 0;
}
body .mainContent .page #loader ol {
  margin: 0;
}
body .mainContent .page #pdfloader {
  position: relative;
}
body .mainContent .page #pdfloader .pdfToolbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 16px;
  justify-content: space-between;
}
body .mainContent .page .topicName {
  background-color: var(--yellowButton);
  padding: 0.5em;
}
body .mainContent .page#number .contentMain {
  overflow: hidden;
  background: var(--body-bg);
}
body .mainContent .page#number .contentMain .contentInner {
  background: var(--body-bg);
}
body .mainContent .page#number #searchByNumberBtn {
  border-width: 0;
}
body .mainContent .page#search .contentMain .contentInner {
  margin-top: 0;
}
body .mainContent .page#hymns .contentMain .contentInner {
  margin-top: 0em;
  padding-bottom: 2.5em;
}
body .mainContent .page#hymns .contentMain .contentInner h1 {
  display: none;
}
body .mainContent .page#hymns .contentMain #toggleType {
  font-size: 16px;
  line-height: 26px;
  background: rgba(0, 0, 0, 0.03);
}
body .mainContent .page#hymns .contentMain #pdfloader {
  height: calc(100vh - 5em);
}
body .mainContent .page#hymns #vocalIcon span {
  position: relative;
}
body .mainContent .page#hymns #vocalIcon span.fa-microphone {
  position: absolute;
}
body .mainContent .page#hymns a.fontSizer {
  position: relative;
}
body .mainContent .page#hymns a.fontSizer .smallerA {
  font-size: 13px;
  position: relative;
  left: -1px;
}
body .mainContent .page#hymns a.fontSizer .biggerA {
  position: relative;
  right: 6px;
}
body .mainContent .page#hymns #fontSizer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  left: 0;
  display: none;
  padding: 0.75em;
  background-color: var(--bg-body);
  transition: all ease 0.3s;
  z-index: 793;
}
body .mainContent .page#hymns.showFontSizer #fontSizer {
  display: block;
}
body .mainContent .page#hymns audio#audio_player {
  position: absolute;
  top: 999em;
}
body .mainContent .page#hymns .musicPlayer {
  width: 100%;
  width: 100%;
  left: 0px;
  position: static;
  height: 125px;
  overflow: hidden;
  bottom: 0px;
  margin-top: 0px;
  z-index: 989;
  padding: 0 1em;
  transform: translateY(10em);
  box-shadow: -1px -3px 21px -15px var(--text-color);
  /* old way */
}
body .mainContent .page#hymns .musicPlayer.active {
  display: block;
  background-color: var(--bg-body);
  transform: translateY(0em);
}
body .mainContent .page#hymns .musicPlayer .musicPlayerWrapper {
  align-items: flex-start;
}
body .mainContent .page#hymns .musicPlayer .musicType {
  display: none;
}
body .mainContent .page#hymns .musicPlayer .musicType.active {
  border: none;
}
body .mainContent .page#hymns .musicPlayer .iconPiano img {
  width: 22px;
  height: auto;
}
body .mainContent .page#hymns .musicPlayer .video-js-wrapper {
  margin: 0 !important;
}
body .mainContent .page#hymns .musicPlayer .video-js-wrapper .video-js {
  background-color: transparent;
  width: 100%;
  height: auto;
  max-height: 53px;
  border: 1px solid var(--videojs-border);
  font-size: 17px;
}
body .mainContent .page#hymns .musicPlayer .video-js-wrapper .video-js .vjs-play-progress {
  background-color: #ccc;
}
body .mainContent .page#hymns .musicPlayer .video-js-wrapper .video-js .vjs-control-bar {
  display: flex;
  position: static;
  background-color: var(--videojs-bg);
}
body .mainContent .page#hymns .musicPlayer .video-js-wrapper .video-js .vjs-progress-control {
  margin-left: 0px;
}
body .mainContent .page#hymns .musicPlayer .video-js-wrapper .video-js .vjs-progress-control > * {
  position: relative;
  top: 1px;
}
body .mainContent .page#hymns .musicPlayer .video-js-wrapper .video-js .vjs-duration-display {
  top: 2px;
  position: relative;
}
body .mainContent .page#hymns .musicPlayer .video-js-wrapper .video-js .vjs-current-time-display {
  top: 1px;
  position: relative;
}
body .mainContent .page#hymns .musicPlayer .video-js-wrapper .video-js .vjs-current-time {
  display: block;
}
body .mainContent .page#hymns .musicPlayer .video-js-wrapper .video-js .vjs-duration {
  display: block;
  order: 1;
}
body .mainContent .page#hymns .musicPlayer .video-js-wrapper .video-js .vjs-menu-button-popup .vjs-menu {
  width: calc(100% - 2em + 2px);
  position: fixed;
  bottom: 100px;
  margin: 0;
  z-index: 9;
  left: calc(1em - 1px);
}
body .mainContent .page#hymns .musicPlayer .video-js-wrapper .video-js .vjs-menu-button-popup .vjs-menu .vjs-menu-content {
  display: flex;
  justify-content: center;
  position: relative;
  height: 60px;
  align-items: center;
  background-color: var(--videojs-bg);
}
body .mainContent .page#hymns .musicPlayer .video-js-wrapper .video-js .vjs-menu-button-popup .vjs-menu .vjs-menu-content li {
  padding: 0 8px;
}
body .mainContent .page#hymns .musicPlayer .video-js-wrapper .video-js .vjs-menu-button-popup .vjs-menu .vjs-menu-content li.vjs-selected {
  background: rgba(0, 0, 0, var(--videojs-selected-percentage));
}
body .mainContent .page#hymns .musicPlayer .video-js-wrapper .video-js div.vjs-playback-rate {
  order: 2;
  border-left: 1px solid var(--videojs-border);
}
body .mainContent .page#hymns .musicPlayer .video-js-wrapper .video-js div.vjs-playback-rate .vjs-playback-rate-value {
  font-size: 17px;
  line-height: 55px;
}
body .mainContent .page#hymns .musicPlayer .video-js-wrapper .video-js div.vjs-playback-rate button.vjs-playback-rate:focus {
  outline: 2px solid var(--videojs-border);
}
body .mainContent .page#hymns .musicPlayer .video-js-wrapper .video-js * {
  color: var(--videojs-text);
}
body .mainContent .page#hymns .musicPlayer .video-js-wrapper .video-js button {
  color: var(--videojs-text);
}
body .mainContent .page#hymns .musicPlayer .video-js-wrapper .video-js .vjs-big-play-button {
  display: none;
}
body .mainContent .page#hymns .musicPlayer .video-js-wrapper .video-js .vjs-volume-panel, body .mainContent .page#hymns .musicPlayer .video-js-wrapper .video-js .vjs-fullscreen-control {
  display: none;
}
body .mainContent .page#hymns .musicPlayer .video-js-wrapper .video-js button.vjs-play-control {
  border-right: 1px solid var(--videojs-border);
}
body .mainContent .page#hymns .musicPlayer .video-js-wrapper .video-js .vjs-time-divider, body .mainContent .page#hymns .musicPlayer .video-js-wrapper .video-js .vjs-live-control,
body .mainContent .page#hymns .musicPlayer .video-js-wrapper .video-js .vjs-seek-to-live-control,
body .mainContent .page#hymns .musicPlayer .video-js-wrapper .video-js .vjs-time-tooltip,
body .mainContent .page#hymns .musicPlayer .video-js-wrapper .video-js .vjs-remaining-time {
  display: none !important;
}
body .mainContent .page#hymns .musicPlayer .video-jss {
  background-color: transparent;
  width: 100%;
  z-index: 80;
  margin-top: -0.5em;
}
body .mainContent .page#hymns .musicPlayer .video-jss .vjs-menu-content {
  background-color: var(--bg-body);
  border: 1px solid var(--form-border);
}
body .mainContent .page#hymns .musicPlayer .video-jss .vjs-big-play-button {
  opacity: 1;
  display: block;
  border-radius: 100%;
  height: 88px;
  width: 88px;
  top: 7px;
  display: none;
}
body .mainContent .page#hymns .musicPlayer .video-jss .vjs-big-play-button .vjs-icon-placeholder:before {
  top: 21px;
}
body .mainContent .page#hymns .musicPlayer .video-jss > .vjs-control-bar {
  background-color: transparent;
  height: 38px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-left: 20px;
  width: auto;
}
body .mainContent .page#hymns .musicPlayer .video-jss > .vjs-control-bar .playlist-controls .btn {
  background-color: var(--bg-body);
  color: var(--text-color);
  height: 43px;
  line-height: 31px;
}
body .mainContent .page#hymns .musicPlayer .video-jss .vjs-playback-rate .vjs-menu {
  width: 100vw;
  left: 0;
  position: fixed;
}
body .mainContent .page#hymns .musicPlayer .video-jss .vjs-menu-button-popup .vjs-menu {
  bottom: -8px;
}
body .mainContent .page#hymns .musicPlayer .video-jss .vjs-menu .vjs-menu-content {
  display: flex;
  justify-content: center;
  bottom: 5.5em;
}
body .mainContent .page#hymns .musicPlayer .video-jss .vjs-menu li {
  padding: 8px;
}
body .mainContent .page#hymns .musicPlayer .video-jss .vjs-menu li:hover, body .mainContent .page#hymns .musicPlayer .video-jss .vjs-menu li:focus {
  background-color: transparent;
  outline: none;
}
body .mainContent .page#hymns .musicPlayer .video-jss .vjs-menu li.vjs-selected {
  background: var(--bg-headerBot);
  font-weight: bold;
}
body .mainContent .page#hymns .musicPlayer .video-jss .vjs-control.vjs-button {
  border: 1px solid;
  border-radius: 50%;
  font-size: 12px;
  margin-right: 5px;
  background: var(--bg-body);
  color: var(--text-color);
  height: 50px;
  width: 50px;
  border-color: var(--button-border);
}
body .mainContent .page#hymns .musicPlayer .video-jss .vjs-control.vjs-button.vjs-playback-rate {
  border: none;
  width: 45px;
}
body .mainContent .page#hymns .musicPlayer .video-jss .vjs-playback-rate .vjs-playback-rate-value {
  line-height: 3em;
}
body .mainContent .page#hymns .musicPlayer .video-jss .vjs-play-control .vjs-icon-placeholder::before {
  top: -0.2em;
  font-size: 3em;
}
body .mainContent .page#hymns .musicPlayer .video-jss .vjs-volume-panel {
  display: none;
}
body .mainContent .page#hymns .musicPlayer .video-jss .vjs-text-track-display {
  display: none;
}
body .mainContent .page#hymns .musicPlayer .video-jss .vjs-remaining-time {
  display: none;
}
body .mainContent .page#hymns .musicPlayer .video-jss .vjs-progress-control {
  position: fixed;
  top: 0px;
  z-index: 99;
  height: 6px;
  left: 0;
  width: 100vw;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
body .mainContent .page#hymns .musicPlayer .video-jss .vjs-progress-control .vjs-progress-holder {
  margin: 0;
  height: 6px;
}
body .mainContent .page#hymns .musicPlayer .video-jss[data-playing=true] .vjs-big-play-button {
  display: none;
}
body .mainContent .page#hymns .musicPlayer .video-jss[data-playing=true] .vjs-progress-control {
  opacity: 1;
}
body .mainContent .page#hymns .musicPlayer .video-jss .vjs-menu-button-popup .vjs-menu .vjs-menu-content {
  max-height: 30em;
}
body .mainContent .page#hymns .musicPlayer .video-jss .vjs-fullscreen-control {
  display: none;
}
body .mainContent .page#copyright {
  background-color: var(--bg-body);
}
body .mainContent .page.active {
  display: block;
  opacity: 1;
  z-index: 91;
}
body .mainContent .page header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 110px;
  z-index: 99;
}
body .mainContent .page header .navbar {
  background: var(--bg-header);
  color: #fff;
}
body .mainContent .page header .navbar > * {
  color: #fff;
}
body .mainContent .page header .navbar .navbar-inner {
  flex-wrap: nowrap;
  padding-left: 0.25em;
}
body .mainContent .page header .navbar .headingBar {
  justify-content: flex-start;
}
body .mainContent .page header .navbar .navbar-collapse {
  position: absolute;
  top: 0px;
  z-index: 54;
  background: var(--charcoal);
  width: calc(100% - 59px);
  left: 0;
  padding: 1em;
  height: 100vh;
  transform: translateX(-110%);
  transition: all ease 0.3s;
  display: block;
}
body .mainContent .page header .navbar .navbar-collapse.shown {
  transform: translateX(0%);
}
body .mainContent .page header .navbar .navbar-collapse .navbar-nav {
  margin: 0;
}
body .mainContent .page header .navbar .navbar-collapse .navbar-nav li {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
body .mainContent .page header .navbar .navbar-collapse .navbar-nav li:first-child {
  border-top: none;
}
body .mainContent .page header .navbar .navbar-toggler {
  border: none;
  padding: 6px 12px;
}
body .mainContent .page header .navbar .navbar-toggler:focus {
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.2);
}
body .mainContent .page header .navbar .navbar-toggler-override {
  color: #fff;
}
body .mainContent .page header .navbar .navbar-nav li a {
  color: #fff;
}
body .mainContent .page header .navbar .navbar-nav li.copyrightLi {
  border-top: 1px solid rgba(255, 255, 255, 0.1411764706);
}
body .mainContent .page header .navbar .btn {
  border: 0;
  color: #fff;
}
body .mainContent .page header .navbar .btn#searchButton {
  background-color: var(--yellowButton);
  color: #3B3B3B;
}
body .mainContent .page header .navbar .btn#searchButton i {
  position: relative;
  top: 1px;
}
body .mainContent .page header .navbar .btn:active, body .mainContent .page header .navbar .btn:hover, body .mainContent .page header .navbar .btn:focus {
  background: transparent;
}
body .mainContent .page header .navbar-brand {
  color: #fff;
  margin: 0;
}
body .mainContent .page header #languageSelector {
  margin-top: 1em;
  position: relative;
}
body .mainContent .page header #languageSelector::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  top: 0;
}
body .mainContent .page header #chooseLanguage:focus {
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.2);
}
body .mainContent .page header #chooseLanguage #currentLanguageCode {
  text-transform: capitalize;
}
@media all and (min-width: 360px) {
  body .mainContent .page header #chooseLanguage #currentLanguageCode {
    margin-left: 6px;
  }
}
@media all and (max-width: 360px) {
  body .mainContent .page header #chooseLanguage .languageIcon {
    display: none;
  }
}
body .mainContent .page header #chooseLanguage .languageIcon i {
  transform: scale(1.5);
}
body .mainContent .page header .headerFormControl {
  background-color: var(--bg-headerBot);
}
body .mainContent .page header #navigationActions {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 0.25em;
}
body .mainContent .page header #navigationActions li a {
  display: block;
  padding: 0 0.5em;
}
body .mainContent .page .contentInner {
  margin-top: 0px;
}
body .mainContent .page footer {
  overflow: hidden;
}
body .mainContent .page footer.hymnFooter {
  position: fixed;
  padding: 0;
  bottom: 0;
  width: 100%;
  transition: all ease 0.3s;
  left: 0;
  width: 100%;
  z-index: 78;
  line-height: 60px;
  height: 60px;
  color: var(--text-color);
}
body .mainContent .page footer.hymnFooter .mediaPlayerRow {
  height: 62px;
}
body .mainContent .page footer.hymnFooter .initialFooter {
  background: linear-gradient(0deg, var(--bg-footer-stop), transparent);
  color: var(--text-color);
  height: 67px;
}
body .mainContent .page footer.hymnFooter.musicOpen {
  height: 192px;
}
body .mainContent .page footer.hymnFooter .row {
  margin: 0;
  flex-wrap: nowrap;
}
body .mainContent .page footer.hymnFooter .row .col {
  white-space: nowrap;
}
body .mainContent .page footer.hymnFooter a {
  color: var(--text-color);
}
body .mainContent .page footer.hymnFooter .musicPlayerWrapper a {
  color: var(--text-color);
  width: 42px;
  height: 42px;
  line-height: 1.75em;
}
body .mainContent .page footer.hymnFooter .mediaControls {
  justify-content: space-between;
}
body .mainContent .page footer.hymnFooter .music-control-btn {
  padding: 0.5em;
}
body .mainContent .page footer.hymnFooter .music-control-btn.btn-outline-tertiary {
  border: none !important;
}
body .mainContent .page footer.hymnFooter .music-control-btn.btn-outline-tertiary:focus {
  background: transparent;
}
body .mainContent .page footer.hymnFooter .music-control-btn.active {
  background-color: var(--bg-headerBot);
  border: 1px solid;
}
body .mainContent .page footer.hymnFooter .music-control-btn.active.btn-outline-tertiary {
  background: transparent;
  color: var(--blue);
  border: none;
}
body .mainContent .page footer.hymnFooter .col.actions {
  flex: 1 99%;
}
body .mainContent .page footer.hymnFooter .btn {
  background-color: var(--bg-body);
}
body .mainContent .page footer.hymnFooter .btn.active {
  background-color: var(--footer-btn-active);
}
body .mainContent .page footer.hymnFooter #pianoIcon.solo {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.whatsnew-open * {
  pointer-events: none;
}

.whatsnew-open #whatsnew-wrapper * {
  pointer-events: all;
}

.whatsnew-open #whatsnew-wrapper {
  position: fixed;
  top: 7em;
  width: calc(100% - 2em);
  left: 1em;
  z-index: 1004;
}
.whatsnew-open .whatsNewHighlighted {
  outline: 3px solid red;
  pointer-events: all;
}
.whatsnew-open .whatsNewClone {
  outline: 9999px solid rgba(0, 0, 0, 0.7);
}

#loader.muted {
  opacity: 0.4;
}

#whatsnew-modal {
  font-size: 16px;
  margin: 1em auto;
  max-width: 800px;
}
#whatsnew-modal .whatsnew-close {
  display: inline-block;
  margin: auto;
}
#whatsnew-modal #take-tour-wrapper {
  display: none;
  margin-top: 0.5em;
}
#whatsnew-modal #take-tour-wrapper.active {
  display: block;
}
#whatsnew-modal #whatsnewintro {
  display: none;
}
#whatsnew-modal #whatsnewintro.active {
  display: block;
}
#whatsnew-modal #whatsnew-steps .whatsnew-step {
  display: none;
  text-align: center;
}
#whatsnew-modal #whatsnew-steps .whatsnew-step.active {
  display: block;
}
#whatsnew-modal #whatsnew-steps .whatsnew-step .whatsnew-title {
  font-size: 1.5em;
  margin-bottom: 1em;
}
#whatsnew-modal #whatsnew-steps .whatsnew-step .whatsnew-content {
  font-size: 1.2em;
  margin-bottom: 1em;
}
#whatsnew-modal .take-tour {
  display: none;
}
#whatsnew-modal .take-tour.active {
  display: block;
}
#whatsnew-modal .slider-dots {
  margin: 1em 0;
  text-align: center;
}
#whatsnew-modal .slider-dots .slider-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #ddd;
  cursor: pointer;
}
#whatsnew-modal .slider-dots .slider-dot.active {
  background-color: #f00;
}

#whatsnew-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

html.dim #whatsnew-modal .card {
  background: var(--bg-headerBot);
  color: var(--bs-card-bg);
}